---
layout: default
title: About Melanie
---

<div id="home">
  <h2><i class="fa fa-code"></i> About Melanie</h2>
  <ul id="blog-posts" class="posts">
    <p>!Melanie is a MSCS candidate at CSULA and a member of <a href="/">Data Science Research Group</a>.</p>

    <p>Research and Project Interests:</p>
    <ul>
        <li><i class="fa fa-heart"></i> Javascript.</li>
        <li>Data science, machine learning, and big data analytics.</li>
        <li>Data visualizations.</li>
    </ul>
  <br /></ul>
</div>
