
.card {
  position: relative;
  flex: 1 1 100%;
  margin: 31px 0;
  padding: 20px;
  background: #F5F5F5;
}

.card__img {
  margin: -20px -20px 0;
}
.card__img img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
  box-sizing: border-box;
}

.card__desc {
  /*margin-top: 20px;*/
}

.card__two .card__img {
  padding: 20px;
}

.card__two::before, .card__two::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .38s ease-in-out, transform .35s ease-in-out;
  content: '';
  opacity: 0;
  pointer-events: none;
}
.card__two::before {
  transform: scale3d(0, 1, 1);
  transform-origin: left top;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}
.card__two::after {
  transform: scale3d(1, 0, 1);
  transform-origin: right top;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}
.card__two:hover::before, .card__two:hover::after, .card__two:focus::before, .card__two:focus::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.lightbox {
  display: none;
}
